{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156062067-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156062067-1');
    </script>
    <title>Shiksha AI & Robotics</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Shiksha AI & Robotics is recognized as one of the best education partner for <b>Artificial Intelligence</b>, among with other Trending technologies.">
    <meta name="keywords" content="artificial intelligence, artificial intelligence workshops, artificial intelligence course, machine learning, machine learning workshop, machine learning classes, deep learning, computer vision">
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <link rel="canonical" href="https://www.techshiksha.net">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
	</head>
	<body class="animated fadeIn">
		<div class="containerBx">
			<header id="navbar">
				<a href="{{ 'index' }}" class="logo" title=""><img src="{% static 'Images/logo.webp' %}" alt="logo"></a>
				<ul>
					<li class="animated"><a class="{% if request.resolver_match.url_name == "index" %}active{% endif %}" href="{{ 'index' }}" title="">Home</a></li>
          <li class="animated"><a class="{% if request.resolver_match.url_name == "blog" %}active{% endif %}" href="{{ 'blog' }}" title="">Blog</a></li>
          <li class="animated"><a class="{% if request.resolver_match.url_name == "courses" %}active{% endif %}" href="{{ 'courses' }}" title="">Courses</a></li>
          <li class="animated"><a class="{% if request.resolver_match.url_name == "services" %}active{% endif %}" href="{{ 'services' }}" title="">Services</a></li>
					<li class="animated"><a class="{% if request.resolver_match.url_name == "about" %}active{% endif %}" href="{{ 'about' }}" title="">About</a></li>
					<li class="animated"><a class="{% if request.resolver_match.url_name == "contact" %}active{% endif %}" href="{{ 'contact' }}" title="">Contact</a></li>
  				</ul>
				<span class="menuIcons" onclick="menuToggle();"></span>
			</header>

      {% block main_block %}


      {% endblock %}
		</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
		<script>

			//Navbar Starts
			function menuToggle(){
				var nav = document.getElementById('navbar')
				nav.classList.toggle('active')
			}
			//Navbar Ends
		</script>
    <!--Start of Tawk.to Script-->
    <script>
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5e0afbfe7e39ea1242a271e2/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
	</body>
</html>
